= t("accounts.deposit.deposit_eur_body_html", :account_id => @user.name)

= t("accounts.deposit.comment")
= @user.name

= t("accounts.deposit.account_holder")
= @account_holder
= @account_holder_address

= t("accounts.deposit.ag")
= @ag

= t("accounts.deposit.cc")
= @cc

= t("accounts.deposit.cnpj")
= @cnpj

= t("accounts.deposit.bank")
= @bank
= @bank_address

